footer {
  position: relative;
  background-color: var(--purple-10);
  padding: 4rem 0;
  &::after {
    content: "";
    width: 100%;
    max-width: 121.6rem;
    height: 4px;
    background-color: var(--yellow);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60.8rem;
  }
  .area-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    .social-media {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      span {
        color: rgba(255, 255, 255, 0.70);
        font-size: 1.4rem;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 3rem;
      }
    }
  }
  .main-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 5.6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    margin-bottom: 2.4rem;
    .left {
      max-width: 84.1rem;
      flex: 1;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .item {
        h5 {
          color: var(--white);
          font-family: "Inter" sans-serif;
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 3.2rem;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 3.2rem;
          a {
            color: rgba(255, 255, 255, 0.67);
            font-size: 1.4rem;
          }
        }
      }
    }
    .right {
      flex: 1;
      max-width: 29.9rem;
      a {
        display: flex;
        align-items: center;
        padding: 2.6rem 1.4rem 2.6rem 2.4rem;
        gap: 1.6rem;
        border-radius: 0.6rem;
        background-color: rgba(255, 255, 255, 0.04);
        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }
        .description {
          strong {
            color: var(--white);
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 150%;
          }
          p {
            color: var(--white);
            font-size: 1.4rem;
            line-height: 150%;
          }
        }
      }
    }
  }
  .copy {
    .text {
      display: flex;
      align-items: flex-start;
      gap: 1.6rem;
      max-width: 69.4rem;
      p {
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 400;
        opacity: 0.8;
      }
    }
  }
}