.s-hero {
  width: 100%;
  height: 80.4rem;
  background: linear-gradient(114deg, #1A0078 -25.6%, #6F47FF 121.77%);
  padding-top: 18rem;
  overflow-x: hidden;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left {
      flex: 1;
      max-width: 66.1rem;
      width: 100%;
      h3 {
        color: rgba(255, 255, 255, 0.56);
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 120%; /* 2.88rem */
        letter-spacing: -0.05rem;
        margin-bottom: 3.2rem;
      }
      h1 {
        color: var(--gray-100);
        font-size: 6.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 115%; /* 7.36rem */
        margin-bottom: 3.2rem;
      }
      .btn {
        display: inline-block;
        padding: 1.2rem 2.4rem;
        background-color: var(--yellow);
        border-radius: 10rem;
        color: var(--brown);
        text-align: center;
        font-family: "Poppins" sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 6.4rem;
        transition: all 0.3s ease;
        &:hover {
          background-color: var(--white);
          color: var(--purple-10);  
        }
      }
      ul {
        width: 100%;
        max-width: 62.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          display: flex;
          align-items: center;
          gap: 1.2rem;
          span {
            color: var(--white);
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 120%; 
          }
        }
      }
    }
    .right {
      flex: 1;
      max-width: 60.8rem;
      margin-right: -9.6rem;
      h2 {
        text-align: center;
        color: rgba(255, 255, 255, 0.48);
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.2rem;
        margin-bottom: 6.3rem;
        opacity: 0.4;
      }
      .cards {
        width: 100%;
        height: 44.2rem;
        position: relative;
        .item {
          position: absolute;
          &.card-one {
            top: 0;
            left: 0;
            z-index: 1;
          }
          &.card-two {
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}

.s-boost {
  padding-top: 11.2rem;
  padding-bottom: 6.7rem;
  .container {
    display: flex;
    align-items: flex-start;
    gap: 14.6rem;
    .left {
      flex: 1;
      max-width: 27rem;
      .mockup {
        width: 100%;
        height: 56.5rem;
        margin-bottom: 13.5rem;
        img {
          position: relative;
          max-width: initial;
          top: -38px;
          left: -49px;
        }
      }
      .description {
        position: relative;
        text-align: center;
        &::before {
          content: "";
          position: absolute;
          width: 0.5rem;
          height: 8.3rem;
          background: url("../img/03. boost-section/dots.svg") no-repeat center center;
          position: absolute;
          top: -11.2rem;
        }
        .icon {
          margin: 0 auto;
        }
        h3 {
          color: var(--gray-800);
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: -0.05rem;
          margin-top: 2.4rem;
        }
        p {
          color: var(--gray-600);
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.5rem;
          margin-top: 0.8rem;
          margin-bottom: 2.4rem;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;
        }
      }
    }
    .right {
      flex: 1;
      max-width: 80rem;
      h2 {
        width: 100%;
        max-width: 46.3rem;
        color: var(--gray-800);
        font-size: 4rem;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.1rem;
        margin-bottom: 5.6rem;
      }
      .list {
        max-width: 69.7rem;
        margin-bottom: 3.2rem;
        li {
          display: flex;
          align-items: center;
          gap: 2.4rem;
          padding-bottom: 3.2rem;
          border-bottom: 1px solid #DFE1E8;
          padding-top: 4rem;
          padding-bottom: 3.2rem;
          &:first-child {
            padding-top: 0;
          }
          .text {
            h4 {
              color: var(--gray-800);
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 150%;
              letter-spacing: -0.05rem;
              margin-bottom: 0.2rem;
            }
            p {
              color: var(--gray-600);
              font-size: 1.8rem;
              line-height: 2.7rem; 
            }
          }
        }
      }
      .btn {
        position: relative;
        display: inline-block;
        color: var(--blue);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 112%;
        letter-spacing: -0.05rem;
        &::after {
          content: "";
          width: 1rem;
          height: 0.3rem;
          background-color: var(--yellow);
          position: absolute;
          bottom: 0.4rem;
          right: -1.6rem;
      
        }
      }
      .box {
        display: flex;
        align-items: center;
        width: 100%;
        height: 41rem;
        border-radius: 1rem;
        background: linear-gradient(114deg, #1A0078 -25.6%, #6F47FF 121.77%);
        margin-top: 12.8rem;
        padding-left: 7.2rem;
        .text {
          flex: 1;
          width: 100%;
          max-width: 38rem;
          h3 {
            color: var(--gray-100);
            font-size: 4rem;
            font-weight: 600;
            letter-spacing: -0.2rem;
            margin-bottom: 0.8rem;
          }
          h5 {
            color: var(--gray-100);
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -0.1rem;
            margin-bottom: 0.8rem;
          }
          p {
            color: var(--gray-200);
            font-size: 1.6rem;
            line-height: 150%;
            margin-bottom: 3.2rem;
          }
          ul {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            a {
              padding: 1.5rem 3.5rem;
              background-color: var(--yellow);
              border-radius: 10rem;
              color: #855B35;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 700;
              transition: all 0.3s ease;
              &:hover {
                background-color: var(--white);
                color: var(--purple-10);
              }
            }
          }
        }
        .card {
          position: relative;
          left: 3.2rem;
        }
      }
    }
  }
}